{% extends "base.html" %}
{% block title %}Analyze Page{% endblock %}

{% block content %}
<main role="main" class="container">
    <br>
    <button class="btn btn-primary" onclick="analyze()">Analizar</button>  
    <button type="button" class="btn btn-secondary">Mirilla</button>
    <button type="button" class="btn btn-success">Bloque</button> 

    <div class="row-cols-10">
        <h1 class="display-4">Área de edición</h1>
    </div>
    <div class="row row-cols-10">                        
        <div class="mb-3">
            <label for="default" class="form-label"></label>
            <textarea class="codemirror-textarea form-control" name="inpt" id="inpt" cols="30" rows="10">{{initial}}</textarea>
            <div id="posicion" name="posicion" class="form-text">Posición</div>
        </div>                             
    </div>   
    <div class="row row-cols-10">        
        <h1 class="display-4">Consola de salida</h1>
        <textarea class="codemirror-textarea" name="output" id="output" cols="30" rows="10"></textarea>              
    </div>       
</main>

<script src="{{ url_for('static',filename='codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/mode/julia/julia.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/mode/shell/shell.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/mode/javascript/javascript.js') }}"></script>
<script src="{{ url_for('static',filename='js/editor_conf.js') }}"></script>


<script type="text/javascript">  
    // Primero limpiamos la consola de salida
    
    function analyze()
    {        
        var code = editorInput.getValue();
        $.ajax({
            type: "POST",
            url: '/analyze',
            dataType: "json",
            data: {inpt:code},            
            success: function(response)
            {                
                var salida = undefined;
                (response.output).forEach(element => 
                {                                        
                    salida = salida == undefined ? element : salida + '\n' + element;
                });                 
                salida = salida == undefined ? ' ' : salida;
                editorOutput.setValue(salida);                                  
                if(response.errores!=true)
                {
                    toastr.info('Ejecución exitosa');
                }
                else
                {
                    toastr.warning('Se han encontrado errores. Por favor vea el área de reportes');
                }
            },
            error: function(error)
            {            
                editorOutput.setValue(''); 
                toastr.error('Error al conectar con el servidor');
            }

        });
    }
</script><script type=""
{% endblock %}