{% extends "base.html" %}
{% block title %}JOLC Inicio{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <div class="p-5 bg-light border  rounded-3">
        <h1>JLOC: Compilador a C3D</h1>
        <p>
            Organización de Lenguajes y Compiladores 2
        </p>
        
        <footer>            
            <small class="text-primary">Erick Tejaxún 201213050</small>            
            <p><a href="https://github.com/ErickTejaxun/JOLC-compilado">Repositorio del proyecto.</a></p>
          </footer>                
    </div>
</main>

{% endblock %}