{% extends "base.html" %}
{% block title %}Vulscan live demo{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <div class="p-5 bg-light border  rounded-3">
        <h1>Vulscan: An javascript static analyzer</h1>        
        <p>
            Vulscan is a tool that helps you to find errors ands vulnerability in your applications. 
            It'll provide you reports and help to improve the security in your code.  

            It's my degree work. 
        </p>
        <footer>            
            <small class="text-primary">Erick Tejaxún </small>            
            <small class="text-primary">erickteja@gmail.com</small>            
            <p><a href="https://github.com/ErickTejaxun/vulscan">Code repository</a></p>
          </footer>                
    </div>
</main>

{% endblock %}